# Coments & Basic Data Types

In [1]:
# this is a comment 
print("Hello") # this is also a comment

Hello

In [2]:
"""
This is a multi-line comment
"""
print("hello") # this is also a comment

hello

In [3]:
# the following are all intergers
print(2)
print(3)

2
3

In [4]:
# the following are all floats
print(10.953)
print(8.0) # even this number is a float

10.953
8.0

In [5]:
# the following are booleans
print(True)
print(False)

True
False

In [6]:
# the following are strings
print("")
print("There's a snake in my boot!")
print("True")

There's a snake in my boot!
True

Monday Exercises

In [7]:
print("Natan")
type(int)

Natan

type

In [8]:
nome = "Natan"
type(nome)

str

In [9]:
num1 = 5 # storing an integer into a variable 
num2 = 8.4 # storing a float into a variable
print(num1,num2) # you can print multiple items using commas

5 8.4

In [10]:
# storing a boolean into a variable
switch = True
print(switch)

True

In [11]:
# storing strings into a variable 
name = 'John Smith'
fav_number = '9'
print("o nome é ", name, "e o número é ", fav_number)

o nome é  John Smith e o número é  9

In [12]:
print(num1+num2)

13.4

In [13]:
#using two variables to create another variable
result = num1 + num2
print(result)

13.4

In [14]:
# defininga varieble and overwhiting it's value
name = 'John'
print(name)
name = 'Sam'
print(name)

John
Sam

In [17]:
x = 3
y = 10
result = x * y
print(x, " + ", y ," = ", result)

3  +  10  =  30

In [19]:
x = 3
y = 10
result = x * y
print(x, " + ", y ," = ", result)

3  +  10  =  30

In [20]:
x = 3
y = 10
result = x * y
print(x, " * ", y ," = ", result)

3  *  10  =  30

In [21]:
areaX = 245.54
areaY = 13.66
result = areaX * areaY
print("the area is ", result)

the area is  3354.0764

#Working with strings

working with strings

In [2]:
#using the addition operator without variebles
name = "John" + " " + "Smith"
print(name)

John Smith

In [3]:
#using the addition operator with variebles
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print (full_name)

John Smith

In [4]:
# injecting variebles using the format method
name = "John"
print ("Hello {}".format(name))
print("Hello {}, you are {} years old!".format(name, 28))

Hello John
Hello John, you are 28 years old!

In [7]:
# using the new f strings
name = "John"
print(f"Hello {name}")

Hello John

In [9]:
# one major difference between versions 2 & 3
name = 'John'
print('Hello, %s' % name)

Hello, John

In [10]:
# python 2 multiple variable formatting
first_name = "John"
last_name = "Smith"
print("Hello, %s %s" % (first_name, last_name))
#surround the variables in parenthesis

Hello, John Smith

In [13]:
word = "Hello"
print(word[0:2])

He

In [15]:
print(word[0:5:2])
print(word[0:-1])

Hlo
Hell

In [16]:
print(word[0:len(word)+1:2])

Hlo

#Wednesday exercises

In [25]:
valorIntenger = 23
valorfloat = 4.5
valorBoolean = False
name = "John"
print(valorIntenger, " ", valorfloat, " ", valorBoolean, " ", name)

23   4.5   False   John

In [26]:
print(valorIntenger, valorfloat, valorBoolean, name)

23 4.5 False John

In [29]:
valorIntenger = 23
valorfloat = 4.5
valorBoolean = False
name = "John"
print("{} {} {} {}".format(valorIntenger, valorfloat, valorBoolean, name))

23 4.5 False John

In [30]:
print("{}'s favorite sports is {}".format("Natan","MMA"))
print("{} is working on {} programming!".format("Natan","Python"))

Natan's favorite sports is MMA
Natan is working on Python programming!

In [31]:
name = "Natan"
sport = "MMA"
working = "Python"
print("{}'s favorite sports is {}".format(name, sport))
print("{} is working on {} programming!".format(name, working ))

Natan's favorite sports is MMA
Natan is working on Python programming!

Manipulating Strings

In [2]:
# replacing an exclamation point with a period
words = "Hello there!"
print(words.replace("!", "."))

Hello there.

Friday Project: Printing Receipts.

In [14]:
# create a product and price for three items
p1_name, p1_price = "books", 49.95
p2_name, p2_price = "computer", 579.99
p3_name, p3_price = "monitor", 124.89

# create a company name and information 
company_name = "coding temple, inc."
company_address = "283 Franklin St."
company_city = "Boston, MA"

# declare ending message
message = "Thanks for shopping with us today!"

In [15]:
# create a top border
print("*" * 50)

**************************************************

In [16]:
# print company information first, using format
print("\t\t{}".format(company_name.title()))
print("\t\t{}".format(company_address))
print("\t\t{}".format(company_city))

		Coding Temple, Inc.
		283 Franklin St.
		Boston, MA

In [17]:
# print a line between sections
print("=" * 50)

==================================================

In [12]:
#print out header for section of items
print("\tProduct Name\tProduct Price")

	Product Name	Product Price

In [19]:
# create a print ststement for each product
print("\t{}\t\t${}".format(p1_name.title(), p1_price))
print("\t{}\t\t${}".format(p2_name.tilte(), p2_price))
print("\t{}\t\t${}".format(p3_name.title(), p3_price))

	Books		$49.95

AttributeError: 'str' object has no attribute 'tilte'

In [20]:
# create a print ststement for each product
print("\t{}\t\t${}".format(p1_name.title(), p1_price))
print("\t{}\t\t${}".format(p2_name.tilte(), p2_price))
print("\t{}\t\t${}".format(p3_name.title(), p3_price))

	Books		$49.95

AttributeError: 'str' object has no attribute 'tilte'